<!-- JavaScript files-->
    {% load static %}
    <script src="{% static 'shop/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'shop/vendor/jquery.cookie/jquery.cookie.js' %}"></script>
    <script src="{% static 'shop/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'shop/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js' %}"></script>
    <script src="{% static 'shop/js/front.js' %}"></script>
